#tasks {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 1600px;
    font-family: Lato;
    
  }
  

.cell-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.id {
    width: 40px
}
.title {
    width: 100px
}
.description {
    max-width: 350px;
}
.date {
    width: 100px
}
.status {
    width: 100px
}
.priority {
    width: 125px
}
.assignees {
    width: 150px
}
.actions {
    width: 150px
}
.custom-icon {
    .mat-icon {
        width: 24px;
        height: 20px;
    }
}