<div class="mat-elevation-z8">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="cell-overflow id">Id</th>
        <th scope="col" class="cell-overflow title">Title</th>
        <th scope="col" class="cell-overflow description">Description</th>
        <th scope="col" class="cell-overflow date">Due Date</th>
        <th scope="col" class="cell-overflow status">Status</th>
        <th
          scope="col"
          class="cell-overflow priority custom-icon"
          (click)="onHandleSort(currentSort)"
        >
          Priority @if (currentSort === 'asc') {
          <mat-icon class="w-12 h-12">arrow_downward</mat-icon>

          } @else {
          <mat-icon class="w-12 h-12">arrow_upward</mat-icon>

          }
        </th>
        <th scope="col" class="cell-overflow actions">Assignees</th>
        <th scope="col" class="cell-overflow actions">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr
        scope="row"
        app-task-item
        *ngFor="let data of dataSource | async"
        [task]="data"
      ></tr>
    </tbody>
  </table>
</div>
