<div class="task-form mb-5">
  <mat-card class="card" appearance="outlined">
    <mat-card-header class="mb-3">
      <mat-card-title>
        {{ isUpdate ? "Update" : "Create" }} Form
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input
              matInput
              placeholder="Please enter title "
              formControlName="title"
            />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea
              matInput
              placeholder="Ex. Write something here !"
              formControlName="description"
            ></textarea>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Choose a date</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="dueDate"
              [min]="todayDate"
            />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="mr-3">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status">
              @for (status of statusOptions; track status) {
              <mat-option [value]="status.value">{{
                status.viewValue
              }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="mr-3">
            <mat-label>Priority</mat-label>
            <mat-select formControlName="priority">
              @for (priority of priorityOptions; track priority) {
              <mat-option [value]="priority.value">{{
                priority.viewValue
              }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Assignees</mat-label>
            <mat-select
              multiple
              formControlName="assignees"
            >
              @for (user of userList | async; track user) {
              <mat-option [value]="user.id">{{ user.username }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-group flex-wrapper">
          <button type="submit" class="btn btn-primary">
            {{ isUpdate ? "Update" : "Create" }}
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
