<td class="cell-overflow id">{{ task.id }}</td>
<td class="cell-overflow title">{{ task.title }}</td>
<td class="cell-overflow description">{{ task.description }}</td>
<td class="cell-overflow date">{{ task.createdDate }}</td>
<td class="cell-overflow status">{{ task.status }}</td>
<td class="cell-overflow priority">{{ task.priority }}</td>
<td class="cell-overflow actions">
  <mat-icon
    matTooltip="Click to view detail"
    class="text-info mr-2"
    (click)="navigateToDetailPage(task)"
    >remove_red_eye</mat-icon
  >
  <mat-icon
    matTooltip="Edit"
    class="text-warning mr-2"
    (click)="navigateToUpdate(task)"
    >edit</mat-icon
  >
  <mat-icon
    matTooltip="Delete"
    class="text-danger"
    (click)="onDelete(task.id ?? '')"
    >delete</mat-icon
  >
</td>
