<div class="profile-form">
    <mat-card class="card" appearance="outlined">
        <mat-card-header>
            <mat-card-title>
                <div class="profile-title flex-wrapper">
                    Update profile
                </div>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label>Email</label>
                    <input readonly type="text" formControlName="email" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
                    @if (submitted && f['email'].errors) {
                    <div class="invalid-feedback">
                        @if (f['email'].errors['required']) {
                        <div>Email is required</div>
                        } @if (f['email'].errors['email']) {
                        <div>Email is invalid</div>
                        }
                    </div>
                    }
                </div>
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" formControlName="username" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" />
                    @if (submitted && f['username'].errors) {
                    <div class="invalid-feedback">
                        @if (f['username'].errors['required']) {
                        <div>Username is required</div>
                        } @if (f['username'].errors['username']) {
                        <div>Username is invalid</div>
                        }
                    </div>
                    }
                </div>
                <div class="form-group flex-wrapper">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>