<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline" class="input-search mr-3">
    <mat-label>Search title / desciption</mat-label>
    <input
      type="tel"
      matInput
      placeholder="Please enter text "
      formControlName="search"
    />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <mat-form-field appearance="outline" class="mr-3">
    <mat-label>Filter status</mat-label>
    <mat-select formControlName="filter">
      @for (status of statusOptions; track status) {
      <mat-option [value]="status.value">{{ status.viewValue }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <button type="submit" class="btn btn-info mb-3 font-weight-bold btn-lg">
    Search
  </button>
</form>
